@import "utilities.css";
:root {
  --primary: #11f7f7;
  --dark: #0a192f;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
  --seconday: #070606;
  --light-grey: #ccd6f6;
  --dark-grey: #8892b0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

span {
  color: var(--primary);
}

.one_rem {
  margin-left: 10px;
}

.section-heading {
  font-size: 2rem;
  font-weight: 400;
  color: var(--secondary);
  text-align: center;
  margin-bottom: 1rem;
  line-height: 0.5;
}

#A-animation-logo {
  width: 100%;
  height: 100vh;
  background: #020c1b;
}

.A-animation-logo {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.A-animation-logo path {
  fill: transparent;
  stroke-width: 23;
  stroke: var(--primary);
}

.A-animation-logo .hexa {
  height: 100px;
  width: 100px;
}

.A-animation-logo h1 {
  position: absolute;
  top: 12px;
  left: 32px;
  font-weight: 600;
  font-size: 3.2rem;
  font-family: "Poppins", sans-serif;
  color: var(--primary);
}

.A-animation-logo .hexa path {
  stroke-dasharray: 1570;
  stroke-dashoffset: 0;
}

.A-animation-logo .hexa path {
  animation: animate-hexa 3s infinite;
}

@keyframes animate-hexa {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: -1570;
  }
  80% {
    stroke-dashoffset: -3140;
  }
  100% {
    stroke-dashoffset: -3140;
  }
}

body,
html {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

header {
  background: var(--dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 80%, 0 100%);
}

.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}

header nav .left a {
  color: var(--pure);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

header nav .left a:hover {
  color: var(--primary);
}

header nav {
  padding: 2rem 0;
}

header nav .logo {
  margin-right: 5rem;
}

body {
  font-family: "Poppins", sans-serif;
}

.left .logo {
  cursor: pointer;
  position: relative;
  left: 5%;
  top: 5%;
}

.left .logo path {
  fill: transparent;
  stroke-width: 23;
  stroke: var(--primary);
}

.left .logo .hexa {
  height: 50px;
  width: 50px;
}

.left .logo h1 {
  position: absolute;
  top: 6px;
  left: 16px;
  font-weight: 600;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: var(--primary);
}

.home {
  padding: 3rem 2rem 15rem;
  /* border: 2px solid red; */
}

.home .left img {
  width: 400px;
}

.home .right {
  color: var(--pure);
  margin: 5rem 2rem;
}

.home .right h6 {
  color: var(--light-grey);
  font-size: clamp(40px, 8vw, 70px);
}

.home .right .desination h6 {
  color: var(--dark-grey);
}

.home .right p {
  line-height: 1.9;
  color: var(--dark-grey);
  font-weight: 100;
}

.home .right .btn {
  margin-top: 4rem;
}

section {
  padding: 5rem 0;
}

.about-right {
  margin-left: 2rem;
}

section.about .about-me-image {
  height: 100%;
  width: 100%;
  content: url("../images/abhay-2.jpg");
}

section.about .about-me-image:hover {
  height: 100%;
  width: 100%;
  content: url("../images/abhay.jpeg");
}

section.about h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--dark);
}

section.about .topics {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-gap: rem; */
}

section.about .topics p {
  color: var(--dark);
  /* font-family: 'Lato', sans-serif; */
  line-height: 0;
}

section.about p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  line-height: 1.6;
  margin-bottom: 2rem;
  /* margin-right:2rem; */
}

section.about .social {
  display: flex;
}

section.about .social a {
  /* background: var(--dark); */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1.6rem;
  transition: all 0.3s ease;
}

section.about .social a img {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

section.about .social a:hover {
  background: var(--primary);
}

.section-heading + p {
  color: var(--ternary);
  font-family: "Lato", sans-serif;
  margin-bottom: 4rem;
  text-align: center;
}

section.services {
  background: var(--light);
}

section.services .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

section.services .card-wrapper .card {
  background: var(--pure);
  padding: 2rem 1rem;
  /* position: relative; */
  padding-top: 2rem;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

section.services .card-wrapper .card img {
  margin-bottom: 1rem;
  height: 75px;
}

section.services .card-wrapper .card h2 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

section.services .card-wrapper .card p {
  color: var(--ternary);
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}

section.services .card-wrapper .card:hover {
  background: #61efef;
}

section.services .card-wrapper .card:hover h2,
section.services .card-wrapper .card:hover p {
  color: var(--dark);
}

section.freelancer-section {
  padding: 0;
  background-color: var(--light);
}
.freelancer {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/camera.png);
  color: var(--pure);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
  padding-bottom: 14rem;
  padding-top: 4rem;
}

.freelancer h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-family: "Lato", sans-serif;
}

.freelancer p {
  margin-bottom: 2rem;
  font-family: "Lato", sans-serif;
}

.freelancer .btn {
  color: var(--dark);
}

.freelancer .btn:hover {
  color: var(--light);
}

section.reviews .slider .slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2rem;
}

section.reviews .slider .slide {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 6rem;
}

section.reviews .slider .slide p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  margin-bottom: 1rem;
}

section.reviews .slider .slide span {
  font-size: 0.8rem;
}

section.reviews .slider-dots .dots {
  list-style: none;
  display: flex !important;
  justify-content: center;
}

section.reviews .slider-dots {
  margin-top: 3rem;
}

section.reviews .slider-dots button {
  font-size: 0px;
  height: 10px;
  width: 25px;
  margin-right: 1rem;
  border: none;
  outline: none;
  background: var(--ternary);
  border-radius: 50px;
  cursor: pointer;
}

section.reviews .dots li.slick-active button {
  background: var(--primary);
  width: 35px;
}

section.work {
  background: var(--light);
}

.timeline {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 20px;
  background-color: var(--pure);
  color: var(--dark);
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.3s ease;

  /* cursor: pointer; */
}
.timeline ul li:hover {
  background-color: #83f9f9;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content h1 {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline-content p {
  color: var(--dark);
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}

.timeline-content .date {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

section.blog {
  background: var(--dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
  padding-bottom: 14rem;
}

section.blog .section-heading {
  color: var(--pure);
}

section.blog .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

section.blog .card-wrapper .card {
  background: var(--pure);
}

section.blog .card-wrapper .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.blog .card-wrapper .card .card-content {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

section.blog .card-wrapper .card .card-content a {
  color: var(--seconday);
  text-decoration: none;
}

section.blog .card-wrapper .card .card-content a:hover {
  color: var(--primary);
  transition: all 0.3s ease;
}

section.blog .card-wrapper .card .card-content h1 {
  font-size: 1.2rem;
  font-weight: 200;
}

section.blog .card-wrapper .card .card-content span {
  color: var(--ternary);
  font-size: 0.8rem;
}

section.blog .card-wrapper .card .card-content p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* ---------------------CONTACT US---------------------*/

section.contact .card-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-gap: 3rem; */
}

section.contact .card-wrapper .card {
  text-align: center;
}

section.contact .card-wrapper .card img {
  width: 5%;
  /* height: 100%; */
  /* margin-bottom: 1rem; */
}

section.contact .card-wrapper .card h1 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

/* 
section.contact .card-wrapper .card h6 {
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 3rem;
} */

/* ---------------------CONTACT US : FORM---------------------*/

section.contact .input-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

section.contact .input-wrap-2 {
  display: flex;
  flex-direction: column;
}

section.contact .input-wrap-2 input {
  margin-bottom: 2rem;
}

section.contact input {
  padding: 0.5rem;
  border: 1px solid var(--light);
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
}

section.contact .input-wrap-2 textarea {
  padding: 0.5rem;
  border: 1px solid var(--light);
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
}

section.contact input:focus,
section.contact .input-wrap-2 textarea:focus {
  outline: none;
}

section.contact .btn-wrapper {
  text-align: center;
  margin-top: 2rem;
}

/* ---------------------FOOTER---------------------*/

footer {
  background: var(--dark);
  text-align: center;
  padding-bottom: 3rem;
}

footer .footer-logo {
  width: 160px;
  cursor: pointer;
}

footer .footer-socials {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

footer .copyright {
  color: var(--ternary);
}

footer,
.footer-socials h1 {
  font-size: 1.2rem;
  font-weight: 200;
  color: var(--light-grey);
  /* margin-bottom: 2rem; */
}

footer .footer-socials p {
  margin-left: 10px;
  font-weight: 200;
}

/* ---------------------MEDIA QUERY---------------------*/

/* .nav__overlay {
    border: 2px solid red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .nav--open .nav__overlay {
    visibility: visible;
    opacity: 1;
  } */

.abc {
  filter: blur(3px);
  transition: opacity 0.4s;
}

.site-main-wrapper {
  position: relative;
}

.hamberger {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 11;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

.hamberger img {
  width: 30px;
}

.mobile-nav {
  position: fixed;
  top: 7px;
  right: -293px;
  z-index: 1001;
  background: #112240;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 56vh;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
}

.times {
  position: fixed;
  top: 30px;
  right: 30px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.times img {
  width: 30px;
}

.mobile-nav ul {
  list-style-type: none;
  line-height: 50px;
}

.mobile-nav ul li a {
  color: var(--light-grey);
  text-decoration: none;
  font-size: 1.3rem;
}

.mobile-nav ul li a:hover {
  color: var(--primary);
  transition: all 0.3s ease;
}

@media (max-width: 1024px) {
  .open {
    transform: translateX(-100%);
  }
  header #main-nav {
    display: none;
  }
  .hamberger {
    display: block;
  }
  .home .right h6 {
    font-size: clamp(35px, 5vw, 75px);
  }
  .home {
    /* padding-top: 10rem; */
    padding: 3rem 2rem 8rem;
  }
  header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 88%, 0 100%);
  }
  .about-inner-wrap {
    flex-direction: column;
  }
  section.about .social a {
    width: 35px;
    height: 35px;
    margin-right: 0.6rem;
  }
  section.services .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
  }
  section.work .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
  section.blog .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
  section.blog {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 96%, 0 100%);
    padding-bottom: 10rem;
  }
  section.contact .card-wrapper .card img {
    width: 9%;
  }
}

@media (max-width: 576px) {
  .home {
    padding: 3rem 0 42rem;
    flex-direction: column;
  }
  body,
  html {
    overflow-x: hidden;
  }
  .section-heading {
    font-size: 1.6rem;
    font-weight: 400;
  }
  header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 95%, 0 100%);
  }
  .home .right {
    position: absolute;
    padding: 0 1rem;
  }
  .home .right h6 {
    font-size: clamp(29px, 8vw, 75px);
  }
  .about-inner-wrap {
    flex-direction: column;
  }
  .about-right {
    text-align: left;
    margin-top: 2rem;
  }
  .about .about-right .social {
    justify-content: center;
  }
  section {
    padding: 3rem 0;
  }
  section.services .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 3rem;
    margin-top: 6rem;
  }
  .freelancer h1 {
    line-height: 1.2;
  }
  .freelancer {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 85%, 0 100%);
    padding-bottom: 7rem;
  }
  section.reviews .slider .slide {
    padding: 0 0;
  }
  .section-heading + p {
    margin-bottom: 3rem;
  }
  section.work .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
  .timeline-content p {
    color: var(--dark);
    font-family: "Lato", sans-serif;
    line-height: 1.2;
  }
  section.blog {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 29% 97%, 0 100%);
    padding-bottom: 7rem;
  }
  section.contact .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
  section.contact .input-wrap {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
  footer,
  .footer-socials h1 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--light-grey);
    /* margin-bottom: 2rem; */
  }
}

@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: #83f9f9;
  }
}

@media (max-width: 290px) {
  .home .right .btn {
    margin-top: 1rem;
  }
}
